<head>
  <link rel="manifest" href="/manifest.json" />
  <title>Nazarene Bible Quizzing Online</title>
  <meta
    name="description"
    content="a online bible quizzing website using the nazarene style of quizzing"
  />
  <meta
    name="keywords"
    content="bible, quizzing, bible quiz, nazarene, nazarene bible quizzing online"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/images/favicon-16x16.png"
  />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico" />
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta
    name="apple-mobile-web-app-title"
    content="Nazarene Bible Quizzing Online"
  />
  <meta name="theme-color" content="#fafafa" />
  <link rel="stylesheet" href="/css/style.css" />
  <script>
    if (location.protocol !== "https:") {
      location.protocol = "https:";
    }
  </script>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-131092423-2"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-131092423-2");
  </script>
  <script src="/js/lib/socket.io.js" charset="utf-8" defer></script>
  <script src="/js/raw/plain/log.js" charset="utf-8" defer></script>
  <script src="/js/raw/plain/addlogin.js" charset="utf-8" defer></script>
  <script src="/js/raw/plain/login.js" charset="utf-8" defer></script>
  <script src="/js/raw/plain/nav.js" charset="utf-8" defer></script>
  <script src="/js/raw/plain/offline.js" charset="utf-8" defer></script>
</head>
