<header id="nav">
      <div id="normal-nav">
        <button style="width:50px;height:20px;" id="navbtn">
          <i class="material-icons md-24" style="color:black;font-size:30px;">menu</i>
        </button>
      </div>
      <div id="moble-nav">
        <button style="width:100%;" id="navbtn">
          <i class="material-icons md-24" style="color:black;font-size:30px;"
            >menu</i
          >
        </button>
      </div>
    </header>
    <side-nav id="mySidenav">
      <div id = "subnav" style = "display:none">
        
      </div>
    </side-nav>