    <header id = "nav">
      <div id = "normal-nav">
        <!--<a href="/html/typequizzing.html">type quizzing</a>
        <a href="/html/scripture-portion.html">scripture portion</a>
        <a href="/html/leaderboard.html">leaderboard</a>
        <a href="/html/voicequizzing.html">voice quizzing</a>-->
      </div>
      <div id = "moble-nav">
        <button style = "width:100%;heigth:100%;" id = "navbtn"><i class="material-icons md-24" style = "color:black;font-size:30px;">menu</i></button>
        <div id = "sdown-nav">
          <!--<a class = "d-nav-a" href="/html/typequizzing.html">type quizzing</a>
          <a class = "d-nav-a" href="/html/scripture-portion.html">scripture portion</a>
          <a class = "d-nav-a" href="/html/leaderboard.html">leaderboard</a>
          <a class = "d-nav-a" href="/html/voicequizzing.html">voice quizzing</a>-->
        </div>
      </div>
    </header>